body{
	
	
}

#maindiv
{
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	overflow:hidden;
	padding-top : 0px;
	padding-right : 5.5px;
	background:url('brushed_alu.png') repeat-x;
	background-repeat:repeat;
}

.divblue
{
	position:relative;
	top:0px;
	display:block;
	left:1.5%;
	right:2%;
	margin:5.5px;
	float:right;
	width:40%;
	height:80px;
	overflow:hidden;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	padding-right:1%;
	background-color:#6666FF;
	color:white;
	
}
/*
.divgreen
{
	position:relative;
	top:0px;
	left:1%;
	right:1%;
	margin:5.5px;
	float:right;
	width:40%;
	height:80px;
	overflow:hidden;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	background-color:#009933;
	color:white;
	
}

.divorange
{
	position:relative;
	top:0px;
	left:1%;
	right:1%;
	margin:5.5px;
	float:right;
	width:40%;
	height:80px;
	overflow:hidden;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	background-color:#F7660D;
	color:white;
	
}

.divpurple
{
	position:relative;
	top:0px;
	left:1%;
	right:1%;
	margin:5.5px;
	float:right;
	width:40%;
	height:80px;
	overflow:hidden;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	background-color:#CC0099;
	color:white;
	
}
*/

#det
{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	overflow : hidden;
	color : white;
	margin-right: 1px;
	padding-top: 50%;
}

p.ex
{
	
}

p.arrange
{
	float:left;
	margin:2px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

p.off
{
	clear:both;
}
